html,
body {
  min-height: 100%;
  width: 100%;
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr 50px;
}

main {
  background-color: rgb(236, 229, 229);
}
header {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(223, 216, 216);
  color: white;
  text-align: center;
}

main .container {
  width: 100%;
  background-color: #fff;
  padding: 20px 40px 40px 40px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form {
  width: 100%;
  height: 100%;
}
.topic-text {
  font-family: "Merriweather", serif;
  color: black;
  text-align: center;
}
.content input {
  background-color: rgb(236, 229, 229);
}
.content textarea {
  background-color: rgb(236, 229, 229);
}
.content button {
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
  border-radius: 30px;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(15, 15, 87);
  background-color: rgb(223, 223, 231);
  border: 1px solid grey;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
.content button:hover {
  background-color: rgb(15, 15, 87);
  color: white;
}
@media (max-width: 600px) {
  main .container{
    width: 95%;
    
  }
  .form{
    width: 100%;
  }
}
