html,
body {
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr 50px;
}

header {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(223, 216, 216);
  color: white;
  text-align: center;
}


h1 h2 {
  font-family: "Merriweather", serif;
}
.name {
  background-color: rgb(236, 229, 229);
  height: 100%;
}

.links {
  background-color: #e7d6c7;
  height: 25px;
  width: 100%;
}
.links a {
  padding: 15px;
}

.info_wrapper{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:25px;
  overflow: auto;
}
.my_info {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: white;
  border-radius: 50px;
  width: 400px !important;
  height: 450px;
  box-shadow: 0px 0px 15px rgb(103, 101, 101);
  text-align: center;
  overflow: hidden;
}
.info_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-bottom: 1px solid grey;
}
.line {
  border: 1px solid gray;
  width: 50%;
  margin: 15px;
}

.info_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: "Oxygen", sans-serif !important;
}
.about {
  height: 450px;
  text-align: left;
}
.click_cv {
  margin-right: 35px;
  padding: 10px 40px;
  border-radius: 30px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  background-color: rgb(15, 15, 87);
  border: 1px solid grey;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
.click_cv:hover {
  border: 1px solid rgb(15, 15, 87);
  background-color: rgb(223, 223, 231);
  color: rgb(15, 15, 87);
}
.click_cv:hover a{
    color: rgb(15, 15, 87) !important;
}
.click_pr {
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 30px;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(15, 15, 87);
  background-color: rgb(223, 223, 231);
  border: 1px solid grey;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
.click_pr:hover {
  background-color: rgb(15, 15, 87);
  color: white;
}
.description {
  margin: 15px;
  font-family: "Oxygen", sans-serif;
}
.mail {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .info_wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .my_info{
    max-width: 300px;

  }
  .info_content li{
    text-align: left;
  }
  .about{
    text-align: center;
  }
  .description a {
    margin: 5px;
  }
}
