html,
body {
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr 50px;
}

header {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(223, 216, 216);
  color: white;
  text-align: center;
}

h1 h2 {
  font-family: "Merriweather", serif;
}
.name {
  background-color: #dfd1c3;
  height: 100%;
}

.links {
  background-color: #e7d6c7;
  height: 25px;
  width: 100%;
}
.links a {
  padding: 15px;
}
.my_info {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 45%;
  background-color: white;
  border-radius: 50px;
  width: 100%;
  max-width: 400px;
  height: 450px;
  box-shadow: 0px 0px 15px rgb(103, 101, 101);
  text-align: center;
  overflow: hidden;
}
.info_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-bottom: 1px solid grey;
}
.line {
  border: 1px solid gray;
  width: 50%;
  margin: 15px;
}

.info_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: "Oxygen", sans-serif !important;
}
.about {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0%;
  width: 100%;
  max-width: 750px;
  height: 450px;
  text-align: left;
}
.click_cv {
  margin-right: 35px;
  padding: 10px 40px;
  border-radius: 30px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  background-color: rgb(15, 15, 87);
  border: 1px solid grey;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
.click_pr {
  padding: 10px 40px;
  border-radius: 30px;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(15, 15, 87);
  background-color: rgb(223, 223, 231);
  border: 1px solid grey;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
.description {
  margin: 15px;
  font-family: "Oxygen", sans-serif;
}
.mail {
  color: black;
  text-decoration: none;
}


@media screen and (max-width: 776px){
 .my_info{
    position:static ;
 }
  .about {
    position: relative;
    text-align: center;
  }
}
